.wrapper {
  margin-top: 24px;
  padding: 16px;
}

.title {
  padding-left: 4px;

  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: var(--color-text-alternative);
}

.timetable {
  width: 100%;
  margin-top: 8px;
  padding: 23px 13px 18px;
  border-radius: 10px;

  background-color: var(--color-bg-normal);
}

.timetable svg {
  width: 100%;
  height: auto;

  border: 1px solid var(--palette-gray);
  border-radius: 12px;
}
