.wrapper {
  padding: 8px 24px 0;
  display: flex;
  flex-direction: column;
  transition: background-color 0.1s;
}
.wrapper:hover {
  background-color: #ddd;
}
.wrapper.clickable {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  gap: 6px;
}

.title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.description {
  opacity: 0.6;
  font-size: 13px;
  line-height: 18px;
}

.bookmarkWrapper {
  flex: 1;
}

.cta {
  border: none;
  background-color: transparent;
  opacity: 0.8;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}
.cta:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.08);
}
.cta:disabled {
  color: #888;
  cursor: not-allowed;
}

.detail {
  margin-top: 4px;
  display: flex;
}

.detailContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.detailItem {
  opacity: 0.8;
  margin-bottom: 2px;
  font-size: 12px;
  line-height: 18px;
  display: flex;
}

.detailRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.link {
  font-size: 13px;
  text-decoration: none;
  color: #888;
  font-weight: normal;
}

.remark {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
  font-size: 11px;
  opacity: 0.6;
}

.divider {
  margin: 12px 0 0;
  height: 1px;
  background-color: #ebeef2;
}
