.wrapper {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 12px;
  gap: 11px;

  border-bottom: solid 1px rgba(179, 179, 179, 0.3);
}

.left,
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  flex: 1;
}
