.wrapper {
  margin-top: 20px;
}

.info {
  position: relative;

  width: 100%;
  height: 48px;
  padding-left: 20px;

  display: flex;
  gap: 46px;
  align-items: center;

  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: var(--color-text-med);

  background-color: var(--color-bg-normal);
}

.info span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.colors {
  margin: 16px 0;
  padding: 4px 0px 0px;
  background-color: var(--color-bg-normal);
}

.colors .info {
  color: var(--color-text-med);
  border-bottom: 0.5px solid var(--color-line-disabled);
}

.colors .info:last-child {
  border-bottom: 0px;
}

.colorSet {
  width: 40px;
  display: flex;

  border: 0.3px solid var(--color-line-disabled);
}

.color {
  width: 20px;
  height: 20px;
}

.anonymous {
  width: 100%;
  height: 48px;
  padding: 0 28px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: var(--palette-black);

  background-color: var(--color-bg-default);
}

.switch {
  position: relative;
  display: inline-block;
  /* width: 60px;*/
  /* height: 34px; */
  width: 51px;
  height: 31px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
