.main {
  padding: 17px 18px 0;
}

.prev {
  padding-left: 3px;

  display: flex;
  flex-direction: row;

  height: 14px;
  font-size: 13px;
  font-weight: 400;
  line-height: 12.6px;

  color: var(--palette-gray-2);
}

.themes {
  margin-top: 12px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
