@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("https://dn04mybwr5t2y.cloudfront.net/fonts/AppleSDGothicNeoL.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("https://dn04mybwr5t2y.cloudfront.net/fonts/AppleSDGothicNeoB.ttf");
  font-weight: bold;
  font-display: swap;
}
