:root {
  --palette-black: #000000;

  --palette-darker-gray: #777777;
  --palette-gray: #f2f2f2;
  --palette-gray-10: #dadada;
  --palette-gray-2: #b3b3b3;
  --palette-gray-20: #c4c4c4;
  --palette-gray-30: #a6a6a6;

  --palette-white: #ffffff;
  --palette-dark: #2b2b2b;
}
