:root[data-theme="light"] {
  --color-bg-default: var(--palette-white);

  --color-border-default: var(--palette-gray);

  --color-text-default: var(--palette-black);
}

:root[data-theme="dark"] {
  --color-bg-default: var(--palette-dark);

  --color-border-default: var(--palette-gray);

  --color-text-default: var(--palette-white);
}
